<%= form_for(@survey1) do |f| %>
  <% if @survey1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey1.errors.count, "error") %> prohibited this survey1 from being saved:</h2>

      <ul>
      <% @survey1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :option1 %><br />
    <%= f.text_field :option1 %>
  </div>
  <div class="field">
    <%= f.label :option2 %><br />
    <%= f.text_field :option2 %>
  </div>
  <div class="field">
    <%= f.label :pic1 %><br />
    <%= f.text_field :pic1 %>
  </div>
  <div class="field">
    <%= f.label :pic2 %><br />
    <%= f.text_field :pic2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
