<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @survey1.title %>
</p>

<p>
  <b>Question:</b>
  <%= @survey1.question %>
</p>

<p>
  <b>Time:</b>
  <%= @survey1.time %>
</p>

<p>
  <b>Option1:</b>
  <%= @survey1.option1 %>
</p>

<p>
  <b>Option2:</b>
  <%= @survey1.option2 %>
</p>

<p>
  <b>Pic1:</b>
  <%= @survey1.pic1 %>
</p>

<p>
  <b>Pic2:</b>
  <%= @survey1.pic2 %>
</p>


<%= link_to 'Edit', edit_survey1_path(@survey1) %> |
<%= link_to 'Back', survey1s_path %>
